@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
    height: 8px;
}

::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #242D35; /* 스크롤바의 색상 */

    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: 0 20px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    margin: 65px 0;
    position:relative !important;
}

.swiper-pagination-bullets {
    padding: 12px 0;
}

.swiper-pagination-bullet {
    flex-shrink: 0;
    width: fit-content !important;
    height: fit-content !important;
    text-align: center;
    font-size: 18px;
    background-color:#DEB841 !important;
    font-weight: 500;
    opacity: 1 !important;
    padding: 8px 10px;
    border-radius: 10px !important;
    transform:scale(1) !important;
    color:#37323E !important;
}

.swiper-pagination-bullet-active {
    color: white !important;
    background-color:#37323E !important;
    /*background: #007aff !important;*/
}

.swiper-pagination-bullet-active-next,.swiper-pagination-bullet-active-next-next, .swiper-pagination-bullet-active-prev,.swiper-pagination-bullet-active-prev-prev {
    transform:scale(1) !important;
}
